<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

    <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
        <arg name="public_sim"   value="true"/>
        <arg name="world"        value="prenovelty_domain"/> 
        <arg name="gzpose"       value="$(arg gzpose)"/>
        <arg name="end_effector" value="pal-gripper"/>
    </include>

    <node pkg="robot_custom" type="get_object_pose.py" name="get_object_pose"/>
    <node pkg="robot_custom" type="object_nav.py" name="object_nav"/>
    <node pkg="robot_custom" type="waypoint_nav.py" name="waypoint_nav"/>
    <node pkg="robot_custom" type="pose_nav.py" name="pose_nav"/>

    <rosparam command="load" file="$(find robot_custom)/config/objects.yaml"/>
    <rosparam command="load" file="$(find robot_custom)/config/waypoints.yaml"/>
    <rosparam command="load" file="$(find robot_custom)/config/transforms.yaml"/>
</launch>